li a {
    color: green;
}

p{
font-family: "Montserrat";
color: rgb(0, 53, 143)
}

h1{
font-family: "Montserrat";
color: rgb(0, 53, 143)
}


h2{
font-family: "Montserrat";
color: rgb(0, 53, 143)
}

h3{
font-family: "Montserrat";
color: rgb(0, 53, 143)
}